body {
  display: flex;
  flex-wrap: wrap;
}
body > * { /*(greater than) > is a child selector that styles the immediate children.*/


  background: #C3DEC1;
  padding: 2rem;
  text-align: center;
  border: 5px solid white;
}

.header{

    flex: 1 100%;
    order: 1;


}
.footer {
  flex: 1 100%;
  order: 4;
}
.sidebar {
  flex: 1;
  order:  3;
}
.main {
  flex: 2;
  order:  2;
}
    
    
@media screen and (max-width: 600px){
	
  body{
  	
    flex-direction: column;
    flex-wrap: no-wrap;
    background: orange;
  	
  }
  
  
  .header{
  	
    order: 6;
  	
  }
  
  
  .footer {
  
  order: 4;
}
.sidebar {
  
  order:  3;
}
.main {

  order:  2;
}
}
h1{
      font-family: Monoton;
      color: white;
      font-size: 75px;
      text-align: center;
      background-color: purple;
   }
   h2{
      font-family: Silkscreen;
      color: #6997FF;
      text-align: center;
      background-color: purple;
   }
   ol{
    font-family: Silkscreen;
    font-size: 40px;
   }

   p{
    font-family: Silkscreen;
    color: #6997FF;
   }

     p{
    font-family: Silkscreen;
    color: #6997FF;
   }

   img {
      width: 550; 
      height:550; 
  }
div.a {
    text-align: left;
}
div.b {
    text-align: right;
}
a {
  font-family: Silkscreen;
    color: #6997FF;  
}

   body{
     background-color: #5FC2E8;
  }